<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}

    <button v-on:click="changeMessage()">
      Click
    </button>

    <input type="text" v-model="message">

    <button v-on:click="toggleInfo()">Toggle info</button>
    <p v-if="showInfo">
      Some info..
    </p>

    <br>
    <br>

    {{ vehicles }}

    <div v-for="vehicle in vehicles">
      <p>skrrrt.. here is a {{ vehicle }}</p>
    </div>

    Add a new vehicle <input type="text" v-model="newVehicle">
    <button v-on:click="addVehicle()">Add the vehicle</button>


  </div>
  <script src="index.js"></script>
</body>
</html>